[Desktop Entry]
Name=Upload to AVD
Type=Application
Comment=Upload files/folder to AVD using 'adb push' command
GenericName=Upload files to AVD
Exec=../avd-launcher-avd-upload.sh
Icon=/usr/share/pixmaps/avd-launcher/avd-upload.png
Terminal=false
X-MultipleArgs=false
Categories=GNOME;System;