[Desktop Entry]
Name=Send adb commands to AVD
Type=Application
Comment=Send adb commands to AVD
GenericName=Send adb command to AVD
Exec=../avd-launcher-avd-adb.sh
Icon=/usr/share/pixmaps/avd-launcher/avd-adb.png
Terminal=false
X-MultipleArgs=false
Categories=GNOME;System;