Package: avd-launcher
Version: 1.0
Section: devel
Maintainer: Gustavo Moraes <gustavosotnas1@gmail.com>
Homepage: https://github.com/gustavosotnas/avd-launcher
Installed-Size: 96
Priority: optional
Architecture: all
Depends: yad, zenity, wmctrl
Description: Android Virtual Device Launcher
 AVD Launcher is a simple tool that allows you to launch Android SDK Emulator, 
 without opening Android Studio or using command-line interface (terminal), 
 just selecting the AVD from the list of found AVDs and clicking on "Launch".
