[Desktop Entry]
Name=Uninstall APK
Type=Application
Comment=Uninstall an installed Android application package
GenericName=Uninstall APK
Exec=../avd-launcher-menuitems.sh uninstall-apk
Icon=/usr/share/pixmaps/avd-launcher/avd-uninstall-apk.png
Terminal=false
X-MultipleArgs=false
Categories=GNOME;System;