[Desktop Entry]
Name=Upload to AVD
Type=Application
Comment=Upload files/folder to AVD using 'adb push' command
GenericName=Upload files to AVD
Exec=../avd-launcher-menuitems.sh upload
Icon=avd-upload
Terminal=false
X-MultipleArgs=false
Categories=GNOME;System;